@import "./variables";

/* Navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0; }
    .nav-main ul {
      display: flex; }
      .nav-main ul li {
        padding: 10px; }
        .nav-main ul li a {
          padding: 2px; }
          .nav-main ul li a:hover {
            border-bottom: 2px solid $color-text; }
    .nav-main ul.nav-menu {
      flex: 1;
      margin-left: 20px; }
  
  .nav-brand {
    width: 50px; }
  
  hr {
    margin: 10px 0; }
  
  /* Responsive Button */
  .menu-btn {
    color: $color-text;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none; }